<h1>Weekly Summary - {{colonyName}}</h1>
<p>{{newCats}} new cats registered</p>
<p>{{sterilizedCats}} cats sterilized</p>
<p>{{healthRecords}} health records added</p>
<a href="{{appUrl}}/reports">View Full Report</a>
